/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center-dialog {
  transform: translate(-50%, -50%) !important;
}
/* FIX Angular Material dialog positioning */
.cdk-overlay-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  pointer-events: none;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: relative !important;
  pointer-events: all;
  max-height: 90vh;
}
