<h2 mat-dialog-title>Forgot Password</h2>

<mat-dialog-content>
  <p class="text-gray-600">Enter your registered email address.</p>

  <form #f="ngForm">
    <mat-form-field appearance="outline" class="w-full">
        <p ></p>
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!email">
    Send Link
  </button>
</mat-dialog-actions>
