<div class="form-container">
  <h2>Create Account</h2>
  <p class="subtitle">Track your expenses smartly</p>

  <form [formGroup]="user" (ngSubmit)="onSumbit()">
    <p style="color: red;" *ngIf="isError">{{errMessage}}</p>

    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter email">
      <small *ngIf="user.get('email')?.invalid && user.get('email')?.touched">
        Valid email is required
      </small>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Choose username">
      <small *ngIf="user.get('username')?.invalid && user.get('username')?.touched">
        Username is required
      </small>
    </div>

    <div class="form-group">
      <label>Full Name</label>
      <input type="text" formControlName="name" placeholder="Enter full name">
      <small *ngIf="user.get('name')?.invalid && user.get('name')?.touched">
        Name is required
      </small>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Create password">
      <small *ngIf="user.get('password')?.invalid && user.get('password')?.touched">
        Password is required
      </small>
    </div>

    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" formControlName="phoneNo" placeholder="10-digit number">
      <small *ngIf="user.get('phoneNo')?.invalid && user.get('phoneNo')?.touched">
        Valid phone number required
      </small>
    </div>
    <p>Already have Accout <a routerLink="/login">login</a></p>

    <button type="submit" [disabled]="user.invalid">
      Create Account
    </button>

  </form>
</div>
